* {
  -webkit-touch-callout: none !important; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none !important; /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none !important; /* prevent copy paste, to allow, change 'none' to 'text' */
  margin: 0;
  padding: 0;
  font: 12px Arial;
}

input, textarea {
  -webkit-user-select: auto !important;
}

header {
  height: 40px;
  background-color: black;
  border-top: 1px inset white;
  border-bottom: 1px inset white;
}

.tab {
  float: left;
  background-color: black;
  color: white;
  width: 49%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

header .tab:last-child {
  float: right;
  border-left: 1px inset white;
}

#map_canvas {
  float: left;
  width: 100%;
}

.triodosInfoWindow {
  position: relative;
  z-index: 200;
}

.triodosInfoWindow div {
  font-size: 0.9em;
}

.triodosInfoWindow img {
  margin-bottom: 4px;
  border: 1px solid #000;
}

.triodosInfoWindow div.metaInfo {
  color: #999;
  font-size: 0.85em;
}

.camera {
  float: left;
  position: absolute;
  top: 118px;
  right: 14px;
  z-index: 1001;
}

.tab-active {
  font-weight: bold;
  font-size: 1.2em;
}

#page_stream {
  display: none;
  background-color: #eee;
}

#page_stream {
  padding-left: 1px;
}

#page_stream img {
  border: 1px solid black;
  clear: none;
  float: left;
  width: 100px;
  height: 75px;
  margin-left: 3px;
  margin-top: 3px;
}

@media (min-width:480px) {
  #page_stream img {
    margin-left: 13px;
    margin-top: 13px;
  }
}


@media (min-width:640px) {
  #page_stream img {
    margin-left: 6px;
    margin-top: 6px;
    width: 200px;
    height: 150px;
  }
}

@media (min-width:768px) {
  #page_stream img {
    margin-left: 40px;
    margin-top: 40px;
  }
}

