* {
  -webkit-touch-callout: none !important; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none !important; /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none !important; /* prevent copy paste, to allow, change 'none' to 'text' */
  margin: 0;
  padding: 0;
  font: 12px Arial;
}

html {
  background-color: #333;
}

input, textarea {
  -webkit-user-select: auto !important;
}

header {
  height: 40px;
  background-color: black;
  border-top: 1px inset white;
  border-bottom: 1px inset white;
}

.tab {
  float: left;
  background-color: black;
  color: white;
  width: 49%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

header .tab:last-child {
  float: right;
  border-left: 1px inset white;
}

#map_canvas {
  float: left;
  width: 100%;
}

.triodosInfoWindow {
  position: relative;
  z-index: 200;
  height: 250px;
}

.triodosInfoWindow div {
  font-size: 0.9em;
}

.triodosInfoWindow img {
  /*border: 1px solid #000;*/
  /*display: block;*/
}

.triodosInfoWindow a strong {
  margin-top: 10px;
  margin-bottom: 6px;
  display: block;
}

.triodosInfoWindow div a {
  display: none;
}

.triodosInfoWindow div.metaInfo {
  display: none;
  /*color: #999;*/
  /*font-size: 0.85em;*/
}

.camera {
  position: absolute;
  bottom: 0;
  right: 14px;
  z-index: 1001;
  color: #999;
  font-size: 0.8em;
}

.tab-active {
  font-weight: bold;
  font-size: 1.35em;
}

#page_stream {
  display: none;
}

#page_stream img {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  max-height: 75px;
}

#stream-description {
  color: #fff;
  font-size: 0.8em;
  text-align: justify;
  padding: 10px;
}

#newPhotoCount {
  margin-left: 35%;
  position: absolute;
  top: 10px;
  background: -moz-linear-gradient(center top , #DE939E, #A40717) repeat scroll 0 0 padding-box transparent;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, #A40717),
    color-stop(0.57, #A40717),
  	color-stop(0.79, #DE939E)
  );
  border-radius: 14px;
  border: 2px solid white;
  color: #FFFFFF;
  padding: 2px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}